<html>

<head>
    <link rel="icon" href="/titleLogo.png" type="image/icon type">
</head>

<body>
    <%- include("header2") %>
        <style>
            body {
                background-image: url('background-image.jpg');
                background-size: cover;
                font-family: Arial, sans-serif;
            }
            
            .container {
                width: 90%;
                margin: 0 auto;
                margin-top: 50px;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 10px;
                box-shadow: 0px 0px 30px #a642ca9b;
            }
            
            table {
                width: 100%;
                border-collapse: collapse;
            }
            
            table,
            th,
            td {
                border: 1px solid #ddd;
            }
            
            th,
            td {
                padding: 15px;
                text-align: left;
            }
            
            th {
                background-color: #a142ca;
                color: #fff;
            }
            
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            
            tr:hover {
                background-color: #ddd;
            }
            
            .calendar {
                display: flex;
                flex-wrap: wrap;
            }
            
            .day {
                width: 14.2857%;
                text-align: center;
                padding: 10px;
            }
            
            .event {
                background-color: #a842ca;
                color: #fff;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
            }
            
            .footer {
                background-color: black;
                color: white;
                text-align: center;
                padding: 10px;
                position: fixed;
                letter-spacing: 2px;
                margin-top: 30px;
                word-spacing: 5px;
                bottom: 0;
                width: 100%;
            }
            
            #NavBar {
                box-shadow: 0px 0px 30px #a642ca9b;
            }
        </style>
        <div class="container">
            <h4 style="margin-bottom: 20px;">Feedback records</h4>
            <table>
                <tr>
                    <th>Sr. no</th>
                    <th>Service type</th>
                    <th>Service Price</th>
                    <th>Location</th>
                    <th>Contact email</th>
                    <th>Contact no</th>
                </tr>
                <% if(cData.length > 0) { %>
                    <% for(var i = 0; i < cData.length; i++) { %>
                        <tr>
                            <td>
                                <%- i+1 %>
                            </td>
                            <td>
                                <% if(cData[i].servicetype == 0) { %>
                                    A/V system
                                    <% } else if(cData[i].servicetype == 1) {  %>
                                        Catering
                                        <% } else if(cData[i].servicetype == 2) {  %>
                                            Decorator
                                            <% } else if(cData[i].servicetype == 3) {  %>
                                                Photography
                                                <% } %>
                            </td>
                            <td>
                                <%- cData[i].servicePrice %>
                            </td>
                            <td>
                                <%- cData[i].location %>
                            </td>
                            <td>
                                <%- cData[i].emailId %>
                            </td>
                            <td>
                                <%- cData[i].contactno %>
                            </td>
                        </tr>
                        <% } %>
                            <% } %>
            </table>
        </div>
        <div class="footer">
            @Copyright bookMyCelebration 2023 - All Right Reserved.
        </div>
</body>

</html>