<html>

<head>
    <link rel="icon" href="/titleLogo.png" type="image/icon type">
</head>

<body>
    <%- include("header2") %>
        <style>
            body {
                background-image: url('background-image.jpg');
                background-size: cover;
                font-family: Arial, sans-serif;
            }
            
            .container {
                width: 90%;
                margin: 0 auto;
                margin-top: 30px;
                padding: 20px;
                background-color: rgba(255, 255, 255, 0.8);
                border-radius: 10px;
                box-shadow: 0px 0px 30px #428bca9b;
            }
            
            table {
                width: 100%;
                border-collapse: collapse;
            }
            
            table,
            th,
            td {
                border: 1px solid #ddd;
            }
            
            th,
            td {
                padding: 15px;
                text-align: left;
            }
            
            th {
                background-color: #428bca;
                color: #fff;
            }
            
            tr:nth-child(even) {
                background-color: #f2f2f2;
            }
            
            tr:hover {
                background-color: #ddd;
            }
            
            .calendar {
                display: flex;
                flex-wrap: wrap;
            }
            
            .day {
                width: 14.2857%;
                text-align: center;
                padding: 10px;
            }
            
            .event {
                background-color: #428bca;
                color: #fff;
                border-radius: 5px;
                padding: 5px;
                margin: 5px;
            }
            
            .footer {
                background-color: black;
                color: white;
                text-align: center;
                padding: 10px;
                position: fixed;
                letter-spacing: 2px;
                margin-top: 30px;
                word-spacing: 5px;
                bottom: 0;
                width: 100%;
            }
            
            #NavBar {
                box-shadow: 0px 0px 30px #428bca9b;
            }
        </style>
        <div class="btn-group dropend" style="margin-top: 30px; margin-left: 107px;">
            <button type="button" class="btn btn-Primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Table view
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="/upcomingevent">Table view</a>
                    <a class="dropdown-item" href="/upcomingCalender">Calender view</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <h4 style="margin-bottom: 20px;">Upcoming Events</h4>
            <table>
                <tr>
                    <th>Sr. no</th>
                    <th>Event Type</th>
                    <th>From date</th>
                    <th>To date</th>
                    <th>Location</th>
                    <th>Organizer</th>
                    <th>Action</th>
                </tr>
                <% if(eData.length > 0) { k = 0 %>
                    <% for(var i = 0; i < eData.length; i++) { %>
                        <% const todaysdate = new Date() 
                            if(eData[i].fromDate >= todaysdate) { %>
                            <tr>
                                <td>
                                    <%- k+1 %>
                                        <% k = k + 1 %>
                                </td>
                                <td>
                                    <% if(eData[i].eventType == 0) { %>
                                        Birthday party
                                        <% } else if(eData[i].eventType == 1) {  %>
                                            Educational event
                                            <% } else if(eData[i].eventType == 2) {  %>
                                                Social event
                                                <% } else if(eData[i].eventType == 3) {  %>
                                                    Corporate event
                                                    <% } %>
                                </td>
                                <td>
                                    <%- eData[i].fromDate.getDate()+"-"+(eData[i].fromDate.getMonth()+1)+"-"+eData[i].fromDate.getFullYear() %>
                                </td>
                                <td>
                                    <%- eData[i].toDate.getDate()+"-"+(eData[i].toDate.getMonth()+1)+"-"+eData[i].toDate.getFullYear() %>
                                </td>
                                <td>
                                    <% for(var j = 0; j < venues.length; j++) { %>
                                        <% if(eData[i].venueId == venues[j].venueId) {  %>
                                            <%- venues[j].venueLocation %>
                                                <% } %>
                                                    <% } %>
                                </td>
                                <td>
                                    <%- eData[i].fullname %>
                                </td>
                                <td style="text-align: center;">
                                    <% if(log.userId == eData[i].userId) { %>
                                        <a href="/deleteeventDetails?i=<%- eData[i].eventId %>"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                      </svg></a>
                                        <% } %>
                                </td>
                            </tr>
                            <% } %>
                                <% } %>
                                    <% } %>

            </table>
        </div>
        <div class="footer">
            @Copyright bookMyCelebration 2023 - All Right Reserved.
        </div>
</body>

</html>